@model IEnumerable<FoodDelivery.Models.User>
@{
    ViewBag.Title = "Пользователи";
}
<a asp-action="Create">Добавить модель</a>
<table class="table">
    <tr><td>Имя</td><td>ДР</td><td>Телефон</td><td>Мыло</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.BirthDate</td><td>@item.Phone</td><td>@item.Email</td></tr>
    }
</table>